.interaction-container {
    overflow: hidden;
    width: 80%;
    float: right;
    min-width: 250px;
}

@media only screen and (max-width: 650px) {
    .interaction-container {
        width: 100%;
    }
}

.interaction-form {
    text-align: right;
    direction: rtl;
}

.btn.btn-primary.add-drug-to-list {
    display: inline-block;
    direction: rtl;
    text-align: right;
    background-color: #7bc7da;
    border: 1px solid #a9d0da;
    border-width: 10%;
    color: #24343f;
    font-size: 1rem;
    /* width: 5rem;*/
    /*padding: 0.5em; */
}

.btn.btn-primary.add-drug-to-list:hover {
    background-color: white;
    color: #2b3841;
    border: 1px solid #030303;
    border-width: 10%;
}

.btn.btn-primary.add-drug-to-list:focus {
    outline: 0px;
}

.form-control.input-drug-name {
    width: 100%;
    direction: rtl;
    border: 1px solid #ccc;
    padding: 0.4em;
}

.drug-list-container {
    margin-top: 1.2em;
    width: 75%;
    position: relative;
    float: right;
    margin-left: 9em;
}


/*react auto suggest css */

.react-autosuggest__container {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 65%;
}

.react-autosuggest__input {
    height: 6vh;
    width: 100%;
    /* padding: 0.2em 1em; */
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    text-align: right;
    vertical-align: middle;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: relative;
    overflow: auto;
    max-height: 600px;
    width: 100%;
    text-align: right;
    /* margin-left: 7.5em; */
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}