.remedy-element-container {
    margin-bottom: 1em;
    border: solid 1px rgb(185, 177, 177);
    padding: 1em;
    border-radius: 10px;
}

.from-until-dates-container {
    display: inline-block;
}

.delete-remedy-btn {
    float: left;
    direction: rtl;
    background-color: #a9d0da;
    border: 1px solid #a9d0da;
    width: 5rem;
    color: #24343f;
    font-size: 1rem;
    width: 2rem;
    border-radius: 10px;
}

.delete-remedy-btn:hover {
    background-color: white;
    color: #2b3841;
    border: 1px solid #030303;
    border-width: 10%;
}

.date-lable {
    display: block;
}

.date-wrapper1 {
    display: inline-block;
    margin-left: 2.5em;
    margin-top: 1em;
}

.new-drug-radio-cont {
    /* display: inline-block; */
    flex: 1;
    direction: ltr;
    margin-top: 1em;
}

.radio-option2 {
    display: block;
    font-size: 1rem;
    margin-top: -0.2em;
}

.radio-input2 {
    margin-left: 0.3em;
}