.severity-container {
    display: inline-block;
    direction: ltr;
    margin-left: 3em;
}

.date-of-appear-container {
    display: inline-block;
}

.date-wrapper {
    /* display: flex; */
}

.severity-container {
    margin-left: 2em;
}

.severity-appeardate-container {
    /* display: inline-block; */
    text-align: right;
    direction: rtl;
}

.severity-container {
    /* display: inline-block; */
    margin: 1em
}

.date-of-appear-container {
    /* display: inline-block; */
    margin: 1em
}