.drugInteractionElement {
    border: solid black;
    border-width: 0.1em;
    text-align: left;
    margin: 2em;
    padding: 1em;
}

.highSeverity {
    color: red;
    font-weight: bold;
}

.generic-drug-name {
    font-size: 0.8rem;
}

.interaction-description {}