.action-nav-wrapper {
    text-align: center;
}

.action-opt {
    overflow: visible;
    display: inline-block;
    text-align: center;
    color: black;
    margin-right: 4em;
    margin-top: 1.5em;
    width: 9em;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    border-radius: 25px;
}

.action-text {
    color: black;
}

.material-icons-outlined {
    font-size: 3rem;
}


/*make search bigger*/

.material-icons-outlined.search {
    font-size: 4.44rem;
}

.material-icons-outlined.warning {
    font-size: 1.8rem;
    margin-left: -0.4em;
}