.action-nav-wrapper {
    text-align: center;
}

.action-opt {
    display: inline-block;
    text-align: center;
    margin-top: 1.5em;
    margin-right: 1em;
    background-color: #adc7d4;
    width: 16em;
    box-shadow: 2px 1px #888888;
    padding: 1.5em;
}

.action-text {
    color: #363636;
}