    .bottom-nav-container {
        text-align: right;
        direction: rtl;
        display: flex;
        padding-right: 20em;
        margin-top: 18em;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: lightgrey;
        font-size: 0.7rem;
    }
    
    @media only screen and (max-width: 600px) {
        .bottom-nav-container {
            padding-right: 0em;
        }
    }
    
    .bottom-action-nav-link {
        text-decoration: none;
        color: black;
        margin-right: 4em;
        margin-left: 4em;
        margin-top: 0.5em;
        display: block;
    }
    
    @media only screen and (max-width: 600px) {
        .bottom-action-nav-link {
            margin-right: 1em;
        }
    }
    
    .bottom-action-nav-link:hover {
        color: black;
    }
    
    .category-name {
        font-size: 1rem;
        margin-right: 3em;
    }
    
    @media only screen and (max-width: 600px) {
        .category-name {
            margin-right: 0.5em;
        }
    }
    
    .category-wrapper {
        display: inline-block;
    }