.nav-bar {
    direction: rtl;
}

.ml-auto.top-nav-content {
    margin-right: 2em;
    text-align: right;
}

.drugheq-logo {
    font-size: 1.7rem;
    padding-right: 2em;
}

.top-nav-link {
    margin-right: 1em;
    font-size: 1.2rem;
}

.link-text {
    color: #000000;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.link-text:hover {
    color: #858282;
}

.ml-auto.top-nav-content {
    float: right;
}

.hamburger-nav {
    margin-right: 1.5em;
}

.nav-bar {
    background-color: lightgrey;
}

.material-icons.log-in {
    margin-top: 0.15em;
    font-size: 1.5rem;
    color: black;
}

.material-icons.log-in:hover {
    color: #858282;
}


/* 
a.top-nav-link {
    margin: 0px;
    float: left;
} */