.step2-lable {
    direction: rtl;
    font-size: 1.2rem;
    display: block;
}

.remedy-insert-form {
    text-align: right;
}

.from-until-dates-container {
    direction: rtl;
}

.date-lable {
    display: block;
    font-size: 1.2rem;
}

.date-wrapper {
    display: inline-block;
    margin-left: 3em;
    margin-top: 1em;
}

.add-btn {
    direction: rtl;
    background-color: #a9d0da;
    border: 1px solid #a9d0da;
    border-width: 10%;
    color: #24343f;
    font-size: 1rem;
    width: 12%;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.add-btn:hover {
    background-color: white;
    color: #2b3841;
    border: 1px solid #030303;
    border-width: 10%;
}

.date-input {
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
}

.alert-remedy-list {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: show;
    margin-bottom: 0.4em;
    text-align: center;
}

.alert-remedy-list.fadeOut {
    opacity: 0;
}

.alert-remedy-list.fadeIn {
    opacity: 1;
}