.master-container {
    overflow: hidden;
}

.master-describe-container {
    direction: rtl;
    text-align: right;
    padding-bottom: 1.1em;
}

.steps-container {
    overflow: hidden;
    width: 80%;
    float: right;
}

@media only screen and (max-width: 650px) {
    .steps-container {
        width: 100%;
    }
}

.prev-next-btns-container {
    margin-top: 2em;
    width: 70%;
    float: right;
}

.steps-circles {
    text-align: right;
}

.btn.btn-primary.float-right {
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em
}

.btn.btn-primary.float-left {
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em
}


/* Make circles that indicate the steps of the form: */

.step {
    display: inline-block;
    height: 0.6em;
    width: 20%;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    background-color: #a8a8a8;
    border: none;
    border-radius: 10%;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}

.material-icons.arrow {
    font-size: 2rem;
}