/* The Modal (background) */

.modal-box-container {
    /* display: show; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10em;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content-text {
    background-color: #fefefe;
    margin: auto;
    padding: 0.5em;
    border: 1px solid #888;
    width: 70%;
    padding-bottom: 2em;
}


/* The Close Button */

.close-modal-box {
    width: 100%;
    text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -0.5em;
    margin-right: 0.2em;
}

.close-modal-box:hover,
.close-modal-box:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}