.side-effect-form {
    text-align: right;
}

.btn.btn-info.add-side-effect-btn {
    z-index: 0;
}

.input-side-effect-name {
    width: 70%;
    direction: rtl;
    border: 1px solid #ccc;
    padding: 0.4em;
}