.side-effect-form {
    text-align: right;
    /* float: right; */
    /* width: 100%; */
}

.btn.btn-info.add-side-effect-btn {
    z-index: 0;
    display: inline-block;
    text-align: right;
}

.input-group.form-container {
    text-align: right;
}

.auto-suggest-cont {
    display: inline-block;
}