.drug-symptom-list-container {
    width: 100%;
    float: right;
}

.side-effect-describe-container {
    direction: rtl;
    text-align: right;
    padding-bottom: 1.1em;
}

.submit-report-btn-container {
    position: relative;
    margin-top: 10px;
    border: solid black;
}

.btn.btn-outline-dark.send-btn {
    margin: 1em;
}

.report-details-container {
    margin: 1em;
    float: right;
    text-align: right;
}

.contolr-label {
    display: inline-block;
}

.form-control.age-input {
    direction: rtl;
    margin-bottom: 0.2em;
}

.form-control.gender-input {
    direction: rtl;
}