.interaction-container {
    overflow: hidden
}

.interaction-form {
    text-align: right;
}

.btn.btn-success.add-drug-btn {
    display: inline-block;
    margin: 0.1em;
}

.input-drug-name {
    width: 70%;
    direction: rtl;
    border: 1px solid #ccc;
    padding: 0.4em;
}

.drug-list-container {
    display: block;
    margin-top: 1.2em;
    width: 100%;
    position: relative;
}

.btn.btn-light.save-btn {
    margin: 1em;
    border: 1px solid rgb(119, 119, 119);
}