.drug-item-container {
    background-color: #ececec;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-align: right;
    float: right;
    width: 100%;
}

.btn.btn-danger.delete-item-btn {
    padding: 0px 6px;
    border-radius: 40%;
    cursor: pointer;
    float: left;
    margin-left: 30px;
}