.drug-list-report-container {
    position: relative;
    width: 49%;
    text-align: right;
    float: right;
}

.sid-effect-report-container {
    position: relative;
    width: 49%;
    text-align: right;
    float: left;
}

.side-effect-describe-container {
    direction: rtl;
    text-align: right;
    padding-bottom: 1.1em;
}

.btn.btn-outline-dark.send-btn {
    margin: 1em;
}

.report-details-container {
    width: 100%;
    margin: 1em;
    position: relative
}

.age-input {
    direction: rtl;
    margin: 0.5em;
}

.gender-input {
    direction: rtl;
    margin: 0.5em;
}