.interaction-container {
    overflow: hidden;
}

.interaction-describe-container {
    direction: rtl;
    text-align: right;
    padding-bottom: 1.1em;
}

.btn.btn-light.save-btn {
    margin: 1em;
    border: 1px solid rgb(119, 119, 119);
}

.progress-interaction {
    margin: 1em;
    margin-right: -3em;
}

.progress-interaction-headline {
    margin-bottom: 1em;
    font-size: 2rem;
}

.interaction-between-headline {
    font-size: 1.7rem;
}

.alert-drug-list {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: show;
    margin-bottom: 0.4em;
}

.alert-drug-list.fadeOut {
    opacity: 0;
}

.alert-drug-list.fadeIn {
    opacity: 1;
}