.accordion-name {
    text-align: right;
}

.accordion-name:hover {
    cursor: pointer;
    background-color: rgb(219, 217, 217);
}

.card {
    width: 80%;
    float: right;
}

.remedy-information {
    direction: rtl;
    text-align: right;
}

.search-results-headline {
    text-align: right;
    direction: rtl;
    margin-bottom: 0.8em;
}

.drug-details {
    text-align: left;
}